/* Common START */
.container {
    padding-left: 150px;
}

@media screen and (max-width: 768px) {
    .container {
        padding-left: 12px;
    }
}

/* Common END */


/* Navbar START */
.navbar {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
    
}

.dropdown-menu {
    border: none;
    border-radius: 0px;
}

.dropdown-item {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #E0266A;
    border-bottom: 1px solid #E0266A;
}

.navbar-light .navbar-nav .nav-link {
    color: #E0266A;
}

.navbar-light .navbar-nav .nav-link .active {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-item {
    border-right: 1px solid #E0266A;
}

.navbar-light .navbar-nav .nav-item:last-of-type {
    border-right: none;
}


@media screen and (max-width: 768px) {
    .navbar-light .navbar-nav .nav-item {
        border-right: none;
    }
    
    .dropdown-item {
        border-bottom: none;
    }
}
/* Navbar END */